:root {
    --menu-color: #000;
    --menuBtnHover-color: #222;
    --menuBtnSelected-color: #ffdd00;

    --topbar-color: #000;

    --scrollbar-color: #00000034;

    --selectFileBtn-color: #ffdd00;
    --selectFileBtnHover-color: #ffee00;

    --tabs-color: #181818;
    --tabsHover-color: #222;
    --addTab-color: #ffdd00;

    --categoryList-color: #111;
    --categoryItem-color: #222;
    --categoryItemHover-color: #111;
    --categoryItemSelected-color: #111;

    --pluginItemHover-color: #222;
    --pluginDescription-color: #00000013;

    --searchResults-color: #222;
    --searchResultsHover-color: #111;

    --dataTable-color: #222;
    --rowSeperator-color: #000000;
    --tableHead-color: #333;
    --everyOtherRow-color: #111;
    --tableRowHover-color: #444;



    --text-color: #ccc;
    --secondaryText-color: #323330;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: Helvetica, sans-serif;
    margin-top: 25px;
    overflow-x: hidden;
}

/*#################################################################################################################################*/
/*#################################################### Left menu #################################################################*/
/*################################################################################################################################*/
#title-bar {
    background-color: #ffdd00;
    color: var(--secondaryText-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 15px; /* Sett en fast høyde på tittellinjen */
    z-index: 2;
}

#title {
    font-weight: bold;
}

#title-bar-btns {
    -webkit-app-region: no-drag;
}

#title-bar-btns button {
    background-color: #ffdd00;
    color: var(--secondaryText-color);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 5px;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 25px;
    width: 65px;
    height: 100vh;
    background-color: var(--menu-color);
    box-sizing: border-box;
}
.menuBtn {
    cursor: pointer;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.menuBtn:hover {
    background-color: var(--menuBtnHover-color);
}

.menuBtn.selected {
    background-color: var(--menuBtnSelected-color);
}

.menuBtn.selected img {
    filter: invert(1);
}


.menuBtn img {
    width: 70%;
    height: 100%;
}

/*#########################################################################################################################*/
/*########################################## Topbar/tabs/x #################################################################*/
/*########################################################################################################################*/

#topbar {
    position: absolute;
    left: 65px;
    width: calc(100% - 65px);
    height: 25px;
    background-color: var(--topbar-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
/*  overflow-x: auto;    */
    overflow-y: hidden;
    white-space: nowrap;
    z-index: 3;
}

#topbar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: transparent;
}

#topbar::-webkit-scrollbar-track {
    background: transparent;
}

#topbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 20px;
}

.tabs {
    position: relative;
    left: 0;
    padding: 0;
    background-color: var(--tabs-color);
    width: 10%;
    min-width: 80px;
    max-width: 120px;
    height: 100%;
    cursor: pointer;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 13px;
    margin-left: -10px;
    border-bottom-right-radius: 10px;
    box-shadow: -1px 2px 4px rgb(0, 0, 0);
    z-index: 999;
}

.tab-text {
    display: inline-block;
    max-width: calc(100% - 10px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tabs:hover {
    background-color: var(--tabsHover-color);
    z-index: 999;
}

.tabs.active {
    background-color: var(--tabsHover-color);
}

.x {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
    padding: 5px;
    cursor: pointer;
    font-size: 13px;
}

.xx {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--secondaryText-color);
    padding: 5px;
    cursor: pointer;
    font-size: 13px;
}

.addTab {
    position: relative;
    padding: 0;
    background-color: var(--addTab-color);
    width: 18px;
    height: 100%;
    cursor: pointer;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 13px;
    border-bottom-right-radius: 10px;
    margin-left: -10px;
}

#bottomBar {
    position: fixed;
    width: 100%; 
    height: 15px;
    bottom: 0;
    background-color: var(--topbar-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1000;
}


#resizeBtn {
    position: absolute;
    right: 0;
    height: 100%;
    width: 15px;
    background-color: #333;
}

/*#################################################################################################################################*/
/*############################### Categories/plugins/description #################################################################*/
/*################################################################################################################################*/

#category-list {
    display: none;
}

#category-list.show {
    display: block;
    position: fixed;
    left: 65px;
    width: 300px;
    height: 100vh; /* Juster høyden basert på topbar-høyden */
    background-color: var(--categoryList-color);
    box-sizing: border-box;
    overflow-x: hidden; /* Skjuler horisontal scrollbar */
    overflow-y: auto;
    z-index: 999;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

#category-list::-webkit-scrollbar {
    width: 5px;
    height: 2px;
    background-color: transparent;
}

#category-list::-webkit-scrollbar-track {
    background: transparent;
}
#category-list::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 20px;
}

.category-item {
    padding: 5px;
    margin-bottom: 2px;
    color: var(--text-color);
    cursor: pointer;
    background-color: var(--categoryItem-color);
}

.category-item:hover {
    background-color: var(--categoryItemHover-color);
}

.category-item.selected {
    background-color: var(--categoryItemSelected-color);
}

.plugin-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.plugin-item {
    padding: 10px;
    padding-left: 20px;
    width: 92%;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.281);
    border-right: 2px solid rgba(0, 0, 0, 0.281);
    border-bottom-right-radius: 10px;
    font-size: 15px;
}

.plugin-item:hover {
    background-color: var(--pluginItemHover-color);
}

.plugin-description {
    padding: 10px;
    padding-left: 20px;
    background-color: var(--pluginDescription-color);
    color: var(--text-color);
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 14px;
}

/*############################### search #################################################################*/

.search-container {
    padding: 10px;
}

#searchInput {
    width: 95%;
    padding: 5px;
    margin-bottom: 10px;
}

#searchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#searchResults li {
    padding: 5px;
    color: var(--text-color);
    margin-bottom: 5px;
}

#searchResults ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#searchResults ul li {
    padding: 5px;
    padding-left: 20px;
    background-color: var(--searchResults-color);
    color: var(--text-color);
    cursor: pointer;
}

#searchResults li:hover {
    background-color: var(--searchResultsHover-color);
}

/*#################################################################################################################################*/
/*############################### Data_table #################################################################*/
/*################################################################################################################################*/

#dataTable {
    position: fixed;
    top: 50px;
    left: 65px;
    right: 0;
    bottom: 0;
    overflow-x: auto;
    overflow-y: auto;
    background-color: var(--dataTable-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

.plugin-output {
    height: 100%;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--rowSeperator-color);
}

th {
    position: sticky;
    top: 0;
    background-color: var(--tableHead-color);
    color: var(--text-color);
}

tr:nth-child(even) {
    background-color: var(--everyOtherRow-color);
}

tr:hover {
    background-color: var(--tableRowHover-color);
}

.table-container {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.plugin-output .table-container::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background-color: tomato;
}

.plugin-output .table-container::-webkit-scrollbar-track {
    background: tomato;
}

.plugin-output .table-container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 20px;
}

#selectFileBtn {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--selectFileBtn-color);
    color: var(--secondaryText-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 200px auto 20px;
}

#selectFileBtn:hover {
    background-color: var(--selectFileBtnHover-color);
}


/*#################################################################################################################################*/
/*############################### Terminal_window -- Made by Ole #################################################################*/
/*################################################################################################################################*/

.terminal-and-lowbar {
    width: 400px;
    height: 200px;
    margin-left: 5px;
    margin-top: 300px;
}

.terminal-bar {
    width: 330px;
    height: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffdd00;
}

.term-low-bar {
    width: 330px;
    height: 5px;
    padding: 10px;
    margin-left: 5px;
    margin-top: 505px;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffdd00;
}

#terminal {
    margin-top: 23px;
    width: 340px;
    height: 187px;
    font-size: 9px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    background-color: black;
    color: white;
    overflow-y: auto;
}

.terminalBtn {
    z-index: 4;
    position: absolute;
    width: 20px;
    top: 1px;
    background-color: #ffdd00;
}

#exitTerminalBtn {  
    right: 3px;    
}

#minTerminalBtn {
    right: 28px;
}

#maxTerminalBtn {
    right: 28px;
}

#exitLowTerminalBtn {
    right: 3px; 
}

#hidden {
    display: none;
}

#low-hidden {
    display: none;
}





.noselect {
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
    outline: none; /* Remove the outline when the element is focused */
  }
  
  .noselect:active, .noselect:focus {
    background-color: transparent; /* Remove the blue background when the element is clicked or focused */
  }
  